.banner {
	height: 100%;
}

.space-one {
	height: 300px;
	background-color: #e8eef4;
	border-bottom: 1px black
}
.horizontal-images {
	height: 300px;
	border-bottom: solid;
}
.col-8, .col-sm-6 {
	height: 200px;
	border: solid;
}
.border {
	border-bottom: solid;
}