.banner {
	height: 100%;
}

.space-one {
	height: 300px;
	background-color: #e8eef4;
	border-bottom: 1px black
}
.horizontal-images {
	height: 600px;
}
.col-8, .col-sm-6 {
	height: 200px;
	border: solid;
}
.border {
	border-bottom: solid;
}
.products-title {
	height:200px;
}
.products-title h2 {
	text-align: center;
}
.product-display {
	border-bottom: solid;
}
.product-display .row, .row-cols-3{
	height: 300px;
	border: solid;
}
.footer {
	height:400px;
}
.random-photo {
	height: 600px;
}

